################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/ADRADVA-REVIVE-ADVANCE/FileContentIndex
/.vs/ADRADVA-REVIVE-ADVANCE/v17/.wsuo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/PCTool/PCver120_20210118R/obj/x86/Release
/PCTool/PCver120_20210118R/obj/Debug
/PCTool/PCver120_20210118R/obj/Release
/PCTool/PCver120_20210118R/.vs/ReviveAdvance/FileContentIndex
/PCTool/PCver120_20210118R/.vs/ReviveAdvance/v17
/PCTool/PCver120_20210118R/bin/Release
